.board-category {
  padding: 16px 24px;
  white-space: nowrap;
  overflow-x: auto;
}

.board-category .category-item {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 18px;
  background: #f6f7f8;
}

.board-category li:not(:last-child) {
  margin-right: 8px;
}

.board-category.category-item__text {
  font-size: 13px;
  font-weight: 400;
  color: #93989e;
}

.board-category .category-item.active {
  background: #1c2028;
  .category-item__text {
    font-weight: 500;
    color: #fff;
  }
}

@media (min-width: 600px) and (max-width: 1280px) {
  .board-category {
    -ms-overflow-style: none;
  }
  .board-category::-webkit-scrollbar{
   display:none;
  }
  
}

@media (min-width: 1281px) {
  .board-category {
    -ms-overflow-style: none;
  }
  .board-category::-webkit-scrollbar{
    display:none;
  }
  
}
