.pagination-wrapper {
  position: relative;
  &::after {
    content: "";
    position: fixed;
    bottom: 24px;
    padding-bottom: 0px;
    height: 24px;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
  }
}
.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  height: 40px;
  max-width: 328px;
  

  li {
    width: 40px;
    height: 40px;

    &:not(:last-child) {
      margin-right: 8px;
    }

    button {
      width: 40px;
      height: 40px;
    }

    &.pagination-item {
      button {
        line-height: 100%;
        color: #93989e;
        font-size: 16px;

        .pagination-item__text {
          line-height: 0.9;
          font-weight: 400;
        }

        svg {
          path {
            stroke: #707882;
          }
        }
      }
    }

    &.pagination-item__current-page {
      button {
        color: #ff6c00;

        .pagination-item__text {
          font-weight: 700;

        }
      }
    }
    &.pagination--nondisplay-nav-item {
      display: none;
    }
  }
}
