.pagination-wrap {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.pagination-number-wrap {
    margin: 0 4px;
}

.pagination-number {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

.arrow-wrap {
    margin: 0 12px;
    padding: 7px 5px;
    border-radius: 50%;
    cursor: pointer;
}
